body{
    width: 600px;
}
header {
    background-color: black;
}

main {
    width: 100%;
}
.tres_imagenes{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}
.small_img{
    width: 100px;
    float: left;
    display: inline;
}
article {
    background: #cde;
    display: block;
}
.cuadros_small{
    float: left;
}
article img{
    width: 50px;
}

