header {
    background-color: black;
}

main {}
span{
    display: block;
}
.small_img{
    width: 50px;
    float: left;
    display: inline;
}
article {
    background: #cde;
    display: block;
}
.cuadros_small{
    float: left;
}
article img{
    width: 50px;
}

